@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Robot, sans-serif;
  line-height: 1.6;
}

/* Barre de navigation */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fdfdfd9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  border-bottom: 1px solid black;
}
.navbar .logo img {
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e78cf4;
}

.nav-links {
  list-style: none;
  display: flex;
}
.nav-links a {
  color: #f44f4fd5;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.nav-links a:hover {
  color: #420341e6;
}

/* Style du boutton hamburger */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background: rgb(243, 135, 135);
  margin: 4px 0;
  transition: 0.3s;
}

/* Style de la hero section */

.hero {
  height: 100vh;
  background-image: url(./Photos/Seguin/groupe\ 3.JPG);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent sur l'image */
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero h1 span {
  color: #f36e6ed5;
}

.hero p {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}
.hero p span {
  color: #f36e6ed5;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #f36e6ed5;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #ea301f;
}

/* Media Queries (pour la partie responsive) */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #56494981;
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }
  .nav-links li {
    margin: 15px 0;
  }
  .hamburger {
    display: flex;
  }
  .hero h1 {
    font-size: 36px;
  }
  .hero p {
    font-size: 16px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* Section du groupe */
.groupe-section {
  padding: 100px 20px;
  text-align: center;
  background-color: #f4f4f4;
  cursor: pointer;
}

.groupe-section h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f36e6ed5;
  text-transform: uppercase;
}
.groupe-section h2 {
  color: #f36e6ed5;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.groupe-section p {
  font-size: 18px;
  margin-bottom: 40px;
  padding: 15px;
  cursor: pointer;
  color: white;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
/* Cartes tournantes */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* Création d'un effet 3D */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Rotation au survol */
}

/* Face avant de la carte */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden; /* Empêche le dépassement de contenu */
}

.flip-card-front img {
  width: 100%; /* Image prend toute la largeur du conteneur */
  height: 100%; /* Image prend toute la hauteur du conteneur */
  object-fit: cover; /* Conserve le ratio d'aspect de l'image */
}

/* Face arrière de la carte */
.flip-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Partie Préstations */
.prestation-link {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  margin: 40px 0;
  font-family: Robot, sans-serif;
  font-size: 36px;
  color: #f36e6ed5;
  font-weight: 700;
}
.prestations {
  padding: 20px;
}
.prestations-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prestation-card {
  background-color: #fbf9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.prestation-card:hover {
  transform: scale(1.05);
  background-color: #f2ebf494;

  transition: 0.3s ease-out;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.prestation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.price {
  background-color: #f36e6ed5;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}
.prestation-description {
  margin-bottom: 15px;
  color: #555;
}

h3 {
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #1d3557;
}
.custom-formule {
  text-align: center;
  margin-top: 30px;
  font-style: italic;
  color: #1d3557;
}
@media (max-width: 768px) {
  .prestations-container {
    flex-direction: column;
    align-items: center;
  }
}

/* La partie Vidéos du site */

h2 {
  text-align: center;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 40px 0;
}
.videos {
  padding: 40px;
}
.video-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.video-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.video-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.video-thumbnail {
  border-radius: 8px;
  width: 100%;
  height: auto;
}
h3 {
  margin-top: 15px;
  color: #264653;
  font-size: 1.2rem;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: #e63946;
}

.youtube-btn {
  display: inline-block;
  background-color: #e63946;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.youtube-btn:hover {
  background-color: #d62839;
}

@media (max-width: 768px) {
  .video-container {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    height: 250px;
  }
}
/* Section concerts */
.concerts {
  padding: 40px;
}

.concert-list {
  list-style-type: none;
  padding: 0;
}

.concert-list li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.concert-list li:hover {
  background-color: #f1f1f1;
}

.concert-list h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #f36e6ed5;
}

.concert-list p {
  margin: 5px 0;
  color: #666;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .concerts {
    padding: 20px;
  }

  .concert-list h3 {
    font-size: 1.2rem;
  }

  .concert-list p {
    font-size: 0.9rem;
  }
}

/* Section contact création de formulaire */
.contactez-nous {
  text-align: center;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 2.5rem;
  margin: 40px 0;
  color: #ffffffd5;
}

.contact {
  padding: 40px 20px;
  background-color: #fb8383;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(240, 150, 240);
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #fcfcfc;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #2a9d8f;
  outline: none;
}

textarea {
  resize: none;
}

button {
  background-color: #d50fef;
  color: white;
  font-size: 1.2rem;
  padding: 15px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21867a;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-form {
    padding: 10px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .submit-btn {
    padding: 10px 15px;
    font-size: 1rem;
  }
}

/* La section footer du site */
.footer {
  background-color: #2a9d8f;
  color: white;
  padding: 40px 0;
  text-align: center;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-logo {
  margin-top: 0; /* Par défaut, pas d'espace */
}

.footer-logo-img {
  max-width: 100px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid color#e78cf4;
}

.footer-container,
.footer-logo h3 {
  color: #d62839;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  margin-left: 20px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.footer-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
  color: #264653;
}

.footer-social a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #264653;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9rem;
  color: white;
}

.footer-bottom a {
  color: #e9c46a;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* Responsive Styles footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-nav ul li {
    display: block;
    margin: 5px 0;
  }

  .footer-social {
    margin-top: 10px;
  }
  .footer-logo {
    margin-top: 20px; /* Ajouter de l'espace au-dessus du logo */
    order: 2; /* Assurer que le logo apparaisse après les réseaux sociaux */
  }
}

/* Style de la section Avis */

.avis {
  padding: 50px 20px;
}
.avis h2 {
  font-size: 2.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}
.avis-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Pour s'adapter aux petits écrans */
}
.avis-card {
  background-color: #e3f3a2;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  max-width: 100%;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.avis-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.avis-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-style: italic;
  color: rgb(69, 141, 236);
}
.avis-author span {
  font-size: 1.2rem;
  color: #264653;
  font-weight: bold;
}

/* Responsive pour petits écrans */
@media (max-width: 768px) {
  .avis-container {
    flex-direction: column;
    align-items: center;
  }

  .avis-card {
    width: 90%;
    margin-bottom: 20px;
  }
}
